*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;

    font-family: sans-serif;
    font-size: 1em;
    background-color: #a4d0f7;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    font-family: sans-serif;
    color: #0b1161;
}

#subtitulo {
    font-family: sans-serif;
    color: #0b1161;
}

.container {
    width: fit-content;

    align-items: center;
    padding: 20px;
    background: #edfcfb;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 0;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #085899;
    display: block;
}

.grupo {
    display: flex;
    gap: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #085899;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #cce8ff;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.botao {
    font-size: 1.2em;
    background: #085899;
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 100px;
}

.botao:hover {
    background: #085899c4;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.grupo label {
    color: #085899;
}